#banner {
  display: flex;
  justify-content: center;
  font-family: arial;
  font-size: x-large;
}

#game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#board {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
}

#ui-lower {
  margin: 20px;
  height: 20%;
}

.ui {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70px;
  font-family: arial;
  font-size: 20px;
}

.uiElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33%;
}

.uiList {
  display: flex;
  justify-content: center;
  margin: 0;
}

.row {
  display: flex;
  /*justify-content: center;*/
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: arial;
  font-size: 70px;
  height: 100px;
  width: 100px;
}

.X {
  color: #7FFF00;
}

.O {
  color: #007FFF;
}