#banner {
  display: flex;
  justify-content: center;
}

#ui {
  display: flex;
  justify-content: center;
}

#game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#board {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
}

.row {
  display: flex;
  /*justify-content: center;*/
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: arial;
  font-size: 70px;
  height: 100px;
  width: 100px;
}

.X {
  color: #7FFF00;
}

.O {
  color: #007FFF;
}