html {
  /*background-image: linear-gradient(to right, #003F9F 50%, #A05070 50%);*/
}

.container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.textbox {
  margin: 5px;
  width: 50%;
}

#JSONinput {
  height: 350px;
}

#JSONbuttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#JSONfileAction {
  position: absolute;
  height: 0;
  width: 0;
}

#CSVoutput {
  height: 350px;
}

form {
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

textarea {
  resize: none;
}

h2 {

}